*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[role='list'], /* Apple, Inc. sucks. Install a linux distro and download Firefox, thanks. */
ol[role='list'] { /* (and for the love of god do not use Safari + VoiceOver) */
	list-style: none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, dl, dd {
	margin-block-end: 0;
}
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
body {
    line-height: 1.5;
	font-size: 1.2rem;
}
a {
    color: inherit;
}
input, button,
textarea, select {
	font: inherit;
}
textarea:not([rows]) {
	min-height: 10em;
}
:target {
	scroll-margin-block: 5ex;
}
img,
picture {
	max-width: 100%;
	display: block;
}
button {
	outline: none;
	border: none;
	padding: .2em;
	border-radius: 3px;
	margin: 0;
}
input {
	outline: none;
	border-radius: 3px;
	border: 1px solid grey;
	padding: .3em;
}
input:focus-visible, input:focus-within, input:focus {
	border: 1px solid blue;
}
